<header class="navbar">
  <div class="navbar-left">
    <img src="../../../../assets/logo (1).png" alt="ServiFácil logo" class="logo" />
   
  </div>

  <nav class="navbar-links">
    <a href="#">Inicio</a> <!-- detectar el rol del usuario -->
    @if (userRole() !== 'PROVIDER') {
      <a routerLink="/facilities" routerLinkActive="active">Buscar Servicios</a>
      <a routerLink="/providers" routerLinkActive="active">Contratar</a>
    }
    @if (userRole() === 'PROVIDER') {
      <a routerLinkActive="active" routerLink="/providers/shifts">Mis Turnos</a>
      <a routerLinkActive="active" routerLink="/providers/calls">Mis Contrataciones</a>
    }
  </nav>
</header>
