<header class="navbar">
    <div class="navbar-left">
        <img src="../../../../assets/logo3.png" alt="ServiFácil logo" class="logo" />
    </div>

    <nav class="navbar-links">

        <!-- Visitante -->
        @if (userRole() === null) {
        <a routerLink="/auth/login">Iniciar Sesión</a>
        <a routerLink="/auth/register">Registrarme</a> }

        <!-- Cliente -->
        @if (userRole() === 'CLIENT') {
        <a routerLink="/facilities" routerLinkActive="active">Buscar Servicios</a>
        <a routerLink="/providers" routerLinkActive="active">Contratar</a>
        <a routerLink="/mis-turnos" routerLinkActive="active">Mis Turnos</a>
        <a routerLink="/my-chats" routerLinkActive="active">Chats</a>
        <a routerLink="/reviews" routerLinkActive="active">Mis Reseñas</a> }

        <!-- Provider -->
        @if (userRole() === 'PROVIDER') {
        <a routerLink="/providers/shifts" routerLinkActive="active">Mis Turnos</a>
        <a routerLink="/providers/calls" routerLinkActive="active">Mis Contrataciones</a>
        <a routerLink="/my-chats" routerLinkActive="active">Chats</a>
        <a routerLink="/reviews" routerLinkActive="active">Mis Reseñas</a> }

        <!-- Admin -->
        @if (userRole() === 'ADMIN') {
        <a routerLink="/facilities" routerLinkActive="active">Servicios</a>
        <a routerLink="/facilities/create" routerLinkActive="active">Crear Servicio</a>
        <a routerLink="/reviews" routerLinkActive="active">Reseñas</a> } @if (userRole() !== null) {
        <button class="logout-btn" (click)="logout()">Salir</button> }

    </nav>
</header>