<div class="container">
    <div class="card">
        <h1 class="title">Mis Turnos Disponibles</h1>
        <p class="subtitle">Visualiza los horarios en los que podés ser contratado</p>

        <div *ngIf="loading()" class="loading">Cargando turnos...</div>
        <div *ngIf="error()" class="error">{{ error() }}</div>

        <ul *ngIf="!loading() && !error() && availability().length > 0">

            <app-shift-item-component *ngFor="let shift of availability()" [shift]="shift" (edit)="router.navigate(['/providers/shifts/edit', $event])" (delete)="eliminarTurno($event)">
            </app-shift-item-component>

        </ul>


        <p *ngIf="!loading() && availability().length === 0" class="no-shifts">
            No tenés turnos disponibles actualmente.
        </p>

        <button class="add-button" routerLink="/providers/shifts/add">Agregar turno</button>
    </div>
</div>