<div class="login-wrapper">
    <div class="login-card">

        <div class="login-left">
            <img src="../../../../../assets/logo3.png" alt="ServiFácil logo" class="logo" />

            <div class="text-content">
                <h2>ServiFácil: Tu Hogar, Solucionado</h2>
                <p>Conectando a los mejores profesionales con tu hogar</p>
            </div>
        </div>


        <div class="login-right">
            <h2>¡Bienvenido/a a ServiFácil!</h2>
            <p>
                ¿Aún no tienes cuenta?
                <a routerLink="/auth/register">Regístrate aquí</a>
            </p>

            <form [formGroup]="form" (ngSubmit)="login()">
                <label>Usuario</label>
                <input type="text" placeholder="Introduce tu nombre de usuario" formControlName="username" />
                <div *ngIf="form.controls['username'].touched && form.controls['username'].invalid" class="error-text">
                    El usuario es obligatorio
                </div>

                <label>Contraseña</label>
                <input type="password" placeholder="Ingresa tu contraseña" formControlName="password" />
                <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="error-text">
                    La contraseña es obligatoria
                </div>

                <button type="submit" class="login-btn" [disabled]="form.invalid">
          Iniciar Sesión
        </button>

                <div *ngIf="errorMessage" class="error-text">
                    {{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
</div>