.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e6f9;
  font-family: 'Poppins', sans-serif;
}


.login-card {
  display: flex;
  width: 950px;
  height: 550px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.login-left {
  flex: 1;
  background: #f5f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  color: #333;
  margin-bottom: 10px;
}

.login-right p {
  color: #666;
  font-size: 14px;
  margin-bottom: 25px;
}


.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ccc;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.divider span {
  background: white;
  padding: 0 10px;
  color: #999;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-right label {
  color: #444;
  font-weight: 500;
  margin-bottom: 5px;
}

.login-right input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.login-right input:focus {
  border-color: #6c63ff;
}

.remember-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.remember-row a {
  color: #6c63ff;
  text-decoration: none;
}

.login-btn {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #554fd8;
}


@media (max-width: 900px) {
  .login-card {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .login-left {
    order: -1;
    padding: 20px;
  }

  .login-right {
    padding: 30px;
  }
}
